*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
/*scroll từ từ về đầu trang*/
html {
    scroll-behavior: smooth;
  }
  #myBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
#myBtn:hover{
    background-color: #2fdab8;
}
/*-------------------------HEADER-------------------------*/

.header{
    width: 100%;
    height: 30px;
    background-color: black;
}
.container-header{
    width: 80%;
    height: 30px;
    margin: 0 auto;
}
.header-ul{
    display: flex;
    list-style-type: none;
}
.header-li{
    width: 25%;
    color: white;
    text-align: center;
    padding-top: 4px;
    font-size: 17px;
    letter-spacing: 1px;
    border-right: 1px solid #464444;
    font-family: Arial, Helvetica, sans-serif;
}

/*--------------HEADER-BOX--------------*/
.header-bot{
    width: 100%;
    height: 100px;
    padding: 10px;
}
.container-header-bot{
    width: 90%;
    margin: 0 auto;
    display: flex;
}
.box-header-bot{
    width: 33.33%;
    height: 80px;
    margin-right: 50px;
    display: flex;
}
.box-header-bot .search{
    width: 80%;
    height: 80px;
}
.box-header-bot .search input{
    width: 100%;
    height: 70%;
    margin-top: 4.5%;
    font-size: 17px;
    letter-spacing: 1.5px;
    padding: 0.5em 1em;
}
.box-header-bot .icon-search{
    width: 20%;
    position: relative;
}
.box-header-bot .icon-search .fas{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #2fdab8;
    top: 14%;
    left: 30%;
}
.box-header-bot .E-left{
    width: 20%;
    height: 80px;
    background-color: black;
    position: relative;
}
.box-header-bot .E-left span{
    position: absolute;
    font-size: 3.5em;
    color: white;
    text-align: center;
    top: 7%;
    left: 28%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.box-header-bot .E-right{
    width: 80%;
    height: 80px;
    position: relative;
}
.box-header-bot .E-right span{
    position: absolute;
    font-size: 40px;;
    top: 17%;
    left: 0%;
}
.box-header-bot .share-left{
    width: 32%;
    height: 80px;
    position: relative;
}
.box-header-bot .share-left span{
    position: absolute;
    top: 46%;
    left: 8%;
    font-size: 18px;
    letter-spacing: 1.5px;
    font-family: Arial, Helvetica, sans-serif;
}
.box-header-bot .share-right{
    width: 68%;
    height: 80px;
    display: flex;
}
.box-header-bot .share-right .icon-share{
    width: 25%;
    height: 60px;
    margin: 10px;
    position: relative;
}
.icon-share:hover{
    transform: rotateX(360deg);
    background-color: white;
    transition: 0.7s;
}
.box-header-bot .share-right .icon-share i{
    font-size: 26px;
    position: absolute;
    top: 40%;
    left: 0%;
    cursor: pointer;
}
/*-------------------------NAV-------------*/
.nav{
    width: 100%;
    background-color: black;
}
.container-nav{
    width: 85%;
    margin: 0 auto;
    display: flex;
    position: relative;
}
.container-nav .nav-left{
    width:85%;
    /* position: relative; */
}
.container-nav .nav-left .nav-left-ul{
    display: flex;
    list-style-type: none;
    font-size: 15px;
    letter-spacing: 2px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    top: 11%;
    left: 5%;
}
.container-nav .nav-left .nav-left-ul .hover-botton{
    padding: 29px;
    margin-right: 2px;
    border-bottom:none;
    position: relative;
}
.men-ul{  
    color: black;
    list-style-type: none;
    position: absolute;
    z-index: 5;
    background-color: white;
    top: 105%;
    left:0%;
    display: none;
    border-radius: 2px;
}
.border-w3{
    width: 100%;
    height: 5px;
    background-color: #2fdab8;
    position: absolute;
    top: 100%;
    left: 0%;
    display: none;
}
.hover-botton:hover .border-w3{
    display: block;
    animation: luotngang 0.5s 1;
}
@keyframes luotngang{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
.men-ul a{
    color: black;
}
.hover-botton:hover .men-ul{
    display: block;
    animation: hieuungluot 2s 1;
}

@keyframes hieuungluot{
    from{
        max-height: 0;
        overflow: hidden;
    }
    to{
        max-height: 100vh;
        overflow: hidden;
    }
}
.men-li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 8px;
    padding: 7px;
    cursor: pointer;
}
.men-li:hover,
.men-li:hover a{
    background-color: black;
    color: #fff;
}
.container-nav .nav-right{
    width: 15%;
    background-color: #2fdab8;
    padding: 25px;
}
.container-nav .nav-right .icon-nav-right{
    width: 45px;
    height: 40px;
    background-color: #16836df3;
    margin: 0 auto;
    position: relative;
}
.container-nav .nav-right .icon-nav-right .fa-cart-arrow-down{
    font-size: 18px;
    position: absolute;
    top: 31%;
    left: 26%;    
    cursor: pointer;
}
.container-nav .nav-right:hover .fa-cart-arrow-down{
    transform: scale(1.5 , 1.5);
    transition: 1s;
    color: #fff;
}

/*--------------About-Us-------*/
.about-us{
    width: 100%;
    height: 250px;
    position: relative;
}
.about-us img{
    background-size: cover;
    width: 100%;
    height: 100%;
}
.about-us .title-top-about{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    letter-spacing: 2px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 38%;
    left: 39%;
}
.about-us .title-top-about span{
    font-weight: 300;
}
.about-us .nav-about{
    position: absolute;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: flex;
    top: 76%;
    left: 10%;
}
.about-us .nav-about .nav-about-1{
    word-spacing: 30px;
    font-size: 0.9em;
    color: #fff;
    letter-spacing: 1px;
    padding-left: 15px;
}


/*-------------------------------------*/
.contact-limit-address{
    width: 100%;
    height: 380px;
    position: relative;
}
.contact-limit-address .contact-limit-address-container{
    width: 80%;
    height: 250px;
    position: absolute;
    top: 20%;
    left: 10%;
    display: flex;
}
.contact-limit-address .contact-limit-address-container .complex-found-flip{
    width: 33.33%;
    height: 100%;
    background-color: #171616;
    margin-right: 15px;
    position: relative;
}
.contact-limit-address .contact-limit-address-container .complex-found-flip .complex-contact-icon-flip{
    width: 30px;
    height: 35px;
    position: absolute;
    top: 18%;
    left: 45%;
    color: #fff;
    font-size: 33px;
    padding-left: 3px;
}
.contact-limit-address .contact-limit-address-container .complex-found-flip .complex-contact-text{
    width: 130px;
    height: 35px;
    position:absolute;
    top: 40%;
    left: 33%;
    color:#2fdab8;
    font-size: 1.3em;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px 10px;
    text-align: center;
}

.contact-limit-address .contact-limit-address-container .complex-found-flip .complex-contact-text-flip-detail{
    width: 230px;
    height: 30px;
    position: absolute;
    top: 60%;
    left: 19%;
}
.contact-limit-address .contact-limit-address-container .complex-found-flip .complex-contact-text-flip-detail .complex-text-1{
    font-size: 14px;
    color:#fff;
    letter-spacing: 1px;
    line-height: 2em;
    margin-bottom: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.contact-limit-address .contact-limit-address-container .complex-found-flip .complex-contact-text-flip-detail .complex-text-2{
    font-size: 14px;
    color:#fff;
    letter-spacing: 1px;
    line-height: 2em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*------------MAP-------------*/
.contact-map-under-click{
    width: 100%;
    height: 300px;
}


/*------------FORM---------------*/
.infomation-contact-form-ground{
    width: 100%;
    height: 700px;
    display: flex;
}
.infomation-contact-form-ground .contact-form-left{
    width: 50%;
    height: 100%;
    position: relative;
}
.infomation-contact-form-ground .contact-form-left .contact-form-left-container{
    width: 80%;
    height: 800px;
    position: absolute;
    top: 10%;
    left: 10%;
}
.infomation-contact-form-ground .contact-form-left .contact-form-left-container .contact-form-left-title{
    height: 50px;
    position: absolute;
    top: 2%;
    left: 10%;
    font-size: 2em;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color:#181919;
    letter-spacing: 1px;
}
.infomation-contact-form-ground .contact-form-left .contact-form-left-container .contact-form-left-title span{
    font-weight: 300;
}
.infomation-contact-form-ground .contact-form-left .contact-form-left-container .contact-fly-box{
    width: 70%;
    height: 80px;
    position: absolute;
    top: 12%;
    left: 10%;
    display: flex;
}
.infomation-contact-form-ground .contact-form-left .contact-form-left-container .contact-fly-box-1{
    width: 70%;
    height: 80px;
    position: absolute;
    top: 28%;
    left: 10%;
    display: flex;
}
.infomation-contact-form-ground .contact-form-left .contact-form-left-container .contact-fly-box-2{
    width: 70%;
    height: 80px;
    position: absolute;
    top: 45%;
    left: 10%;
    display: flex;
}
.contact-fly-box-left{
    width: 25%;
    height: 100%;
    color:#0e0e0e;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 2px solid #ddd;
    line-height: 77px;
}
.contact-fly-box-right{
    width: 75%;
    height: 100%;
    padding-left: 20px;
}
.contact-fly-box-right-text-1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color:#2fdab8;
    font-size: 1em;
    letter-spacing: 2px;
    padding-top: 5px;
    padding-block-end: 10px;
}
.contact-fly-box-right-text-2{
    font-family: Arial, Helvetica, sans-serif;
    color: #545454;
    font-size: 0.9em;
    letter-spacing: 1px;
    line-height: 1.8em;
}
.infomation-contact-form-ground .contact-form-left .contact-form-left-container .contact-fly-box-1:hover .contact-fly-box-right-text-2{
    color: #2fdab8;
    cursor: pointer;
    transition: 0.7s;
}
.contact-share-on{
    width: 70%;
    height: 50px;
    position: absolute;
    top: 62%;
    left: 10%;
    display: flex;
}
.contact-share-on .contact-share-on-left{
    width: 30%;
    height: 100%;
    font-size: 1em;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    letter-spacing: 2px;
    line-height: 51px;
}
.contact-share-on .contact-share-on-right{
    width: 70%;
    height: 100%;
    display: flex;
}
.contact-share-on .contact-share-on-right .contact-share-on-right-icon{
    width: 25%;
    height: 100%;
    border: 1px solid white;
    font-size: 45px;
    padding-left: 13px;
    cursor: pointer;
}
.contact-share-on .contact-share-on-right .contact-share-on-right-icon:hover{
    transform: rotateZ(360deg);
    transition: 0.7s;
}
.infomation-contact-form-ground .contact-form-right{
    width: 50%;
    height: 100%;
}
.infomation-contact-form-ground .contact-form-right .container-contact-form{
    width: 85%;
    height: 550px;
    background-color: #181919;
    margin-top: 10%;
    position: relative;
}
.infomation-contact-form-ground .contact-form-right .container-contact-form .container-contact-form-title{
    height: 60px;
    position: absolute;
    top: 12%;
    left: 8%;
    font-weight: 700;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    color: #fff!important;
}
.infomation-contact-form-ground .contact-form-right .container-contact-form .container-contact-form-title span{
    font-weight: 200;
}
.input-form-name{
    width: 90%;
    height: 40px;
    font-size: 17px;
    letter-spacing: 1px;
    color: #fff;
    position: absolute;
    top: 25%;
    left: 5%;
    background-color: #181919;
    padding: 0.5em 1em;
    border: none;
    border-bottom: 1px solid gray;
}
.input-form-email{
    width: 90%;
    height: 40px;
    font-size: 17px;
    letter-spacing: 1px;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 5%;
    background-color: #181919;
    padding: 0.5em 1em;
    border: none;
    border-bottom: 1px solid gray;
}
.input-form-subject{
    width: 90%;
    height: 40px;
    font-size: 17px;
    letter-spacing: 1px;
    color: #fff;
    position: absolute;
    top: 56%;
    left: 5%;
    background-color: #181919;
    padding: 0.5em 1em;
    border: none;
    border-bottom: 1px solid gray;
}
.input-form-massage{
    width: 90%;
    height: 40px;
    font-size: 17px;
    letter-spacing: 1px;
    color: #fff;
    position: absolute;
    top: 72%;
    left: 5%;
    background-color: #181919;
    padding: 0.5em 1em;
    border: none;
    border-bottom: 1px solid gray;
}
.submit-form{
    width: 120px;
    height: 50px;
    background-color:#2fdab8;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 15px;
    outline: none;
    position: absolute;
    top: 85%;
    left: 7%;
    cursor: pointer;
}
/*------------------------------------------*/
.coupon{
    width: 100%;
    height: 170px;
    position: relative;
}
.coupon .coupon-container{
    width: 98%;
    height: 60%;
    position: absolute;
    top: 12%;
    left: 2%; 
    display: flex;
    padding: 10px;
}
.coupon .coupon-container .coupon-card{
    width: 25%;
    height: 100px;
    border: 20px solid white;
    display: flex;
}
.coupon .coupon-container .coupon-card .coupon-card-left{
    width: 80px;
    height: 80px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 30px;
    cursor: pointer;
}
.coupon .coupon-container .coupon-card .coupon-card-left:hover{
    background-color: #2fdab8;
    transition: 0.2s;
}
.coupon .coupon-container .coupon-card .coupon-card-right{
    width: 70%;
    height: 100%;
}
.coupon-text-top{
    color: #2fdab8;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px;
    display: flex;
}
.coupon-text-button{
    color:#545454;
    line-height: 1.8em;
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px;
    display: flex;
}



/*-------------------FOOTER-----------------------*/
.footer{
    width: 100%;
    background-color: black;
}
.footer .container-footer{
    width: 100%;
    display: flex;
}
.footer .container-footer .footer-left{
    width: 50%;
}
.footer .container-footer .footer-left .container-footer-left{
   width: 80%;
   height: 500px;
   margin: 0 auto;
   display: flex;
}
.footer .container-footer .footer-left .container-footer-left .footer-left-left{
    width: 55%;
    height: 350px;
    position: relative;
}
.footer-left-left-title{
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 2px;
    color: #fff;
    /* text-transform: uppercase; */
    position: absolute;
    top:17%;
    left: 6%;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-left-left-content{
    font-size: 14px;
    letter-spacing: 1px;
    color:#737070;
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 30%;
    left: 6%;
}
.footer-left-left-title span{
    padding: 10px 14px;
    background-color: #2fdab8;
    font-weight: 600;
}
.footer-left-left-icon{
    width: 70%;
    position: absolute;
    top: 58%;
    left: 8%;
    display: flex;
}
.footer-left-left-icon .footer-left-left-icon-detail{
    width: 25%;
    height: 30px;
    margin: 5px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}
.footer-left-left-icon-detail:hover{
    transform: rotateX(360deg);
    background-color: white;
    transition: 0.7s;
}
.footer .container-footer .footer-left .container-footer-left .footer-left-right{
    width: 45%;
    height: 350px;
    position: relative;
}
.footer-left-right-title{
    font-size: 1.2em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 17%;
    left: 6%;
}
.menu-footer ul{
    list-style-type: none;
    color: #737070;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 2em;
    position: absolute;
    top: 30%;
    left: 6%;
    cursor: pointer;
}
.menu-footer ul li:hover{
    color: #2fdab8;
    transition: 0.5s;
}
.footer .container-footer .footer-right{
    width: 50%;
    height: 500px;
}
.footer .container-footer .footer-right .container-footer-right{
    width: 80%;
    height: 500px;
    margin: 0 auto;
    display: flex;
}
.footer .container-footer .footer-right .container-footer-right .footer-right-left{
    width: 55%;
    height: 350px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.container-footer-right-left{
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: black;
    top: 34%;
    left: 0%;
}
.container-footer-right-left .footer-right-left-detail{
    width: 100%;
    height: 85px;
    margin: 3px;
    background-color: #080808;
    display: flex;
}
.footer-right-left-detail-icon{
    width: 20%;
    height: 100%;
    position: relative; 
}
.footer-right-left-detail-icon i{
    color: white;
    position: absolute;
    top:21%;
    left: 37%;
}
.footer-right-left-detail-content{
    width: 80%;
    height: 100%;

}
.footer-right-left-detail-content-top{
    color: white;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
}
.footer-right-left-detail-content-button{
    font-size: 1em;
    color: #565656;
    letter-spacing: 1px;
    margin-left: 15px;
}
.footer-right-left-title{
    font-size: 1.2em;
    color: #fff;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    position: absolute;
    top: 19%;
    left: 0%;
}
.footer-right-left-title span{
    font-weight: 300;
}
.footer .container-footer .footer-right .container-footer-right .footer-right-right{
    width: 45%;
    height: 237px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 81px 10px;
}
.grid-footer-right-right{
    padding: 15px;
}
.grid-footer-right-right img{
    width: 100%;
    background-size: cover;
}
.footer-sign-up{
    width: 90%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    border-top: 1px solid #101010;
    border-bottom: 1px solid #101010;
}
.footer-sign-up .footer-sign-up-left{
    width: 50%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    padding-top: 20px;
}
.footer-sign-up .footer-sign-up-right{
    width: 50%;
    height: 100%;
    display: flex;
    position: relative;
}
.footer-sign-up .footer-sign-up-right .footer-sign-up-right-left{
    width: 70%;
    height: 100%;
    position: relative;
}
.footer-sign-up-right-left input{
    background-color: #1f1f1f;
    border: 1px solid #3a3939;
    letter-spacing: 3px;
    font-size: 14px;
    color:#848484;
    padding: 10px 14px;
    width: 100%;
    position: absolute;
    top:24%;
    left: 0%;
}
.footer-sign-up .footer-sign-up-right .footer-sign-up-right-right{
    width: 80px;
    height: 37.5px;
    background-color:#2fdab8;
    position: absolute;
    top: 23%;
    left: 70%;
    color: white;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
}
.footer-sign-up .footer-sign-up-right .footer-sign-up-right-right:hover{
    background-color: white;
    color: #080808;
    transition: 1s;
}
.footer-button{
    width: 90%;
    height: 70px;
    margin: 0 auto;
}
